
.subscribeButton{
        width:260px;
        height: 4rem;
        border-radius: 2rem;
        background: var(--button);
        border:0;
        font-size: 1.2rem;
        padding: 0 1.5rem;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;    
        color: var(--white);
        
        
        transition: filter 0.2s;
    
      
        &:hover{
            filter:brightness(0.8)
        }
}


